.root{
	-fx-font-family: verdana;
	-fx-font-size: 20;
}
#map{
	-fx-background-color: #110022;
}
VBox, .menu  {
    -fx-alignment: center;
}
Label{
	-fx-text-fill: black;
}
.uimenu{
	-fx-alignment: bottom-right;
}
#description{
	-fx-font-family: helvetica;
	-fx-font-size: 15;
}
Label{
	-fx-alignment: top-left;
}