.root{
	-fx-font-family: verdana;
	-fx-font-size: 21;
}
#map{
	-fx-background-color: #110022;
}
VBox, HBox, .menu {
    -fx-alignment: center;
}
.text{
	-fx-fill: black;
	-fx-stroke-width: 0.5;
}
.uimenu{
	-fx-alignment: bottom-center;
}
#description{
	-fx-font-family: helvetica;
	-fx-font-size: 18;
}
Label{
	-fx-alignment: top-left;
}
OptionsMenu{
	-fx-font-size: 17;
	-fx-alignment: center;
}